@import "tailwindcss";

body {
  background-color: var(--BG_Color);
  font-family: "Roboto", sans-serif;
}

input {
  outline: none;
}

@layer utilities {
  input:-webkit-autofill {
    @apply text-white;
    box-shadow: 0 0 0px 1000px #ffffff00 inset;
    -webkit-text-fill-color: white;
    transition: background-color 9999s ease-in-out 0s;
    caret-color: white;
  }
}
